/*Обнулення стилів*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  line-height: 1rem;
  min-width: 20rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-style: inherit;
}

button {
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  border: none;
}
/*Загальні стилі =================================================================================================================*/

body {
  font-family: "Roboto", serif;
  font-size: 0.875rem;
  color: #646d70;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

/*налаштування адаптиву*/

/* [class*='__container'] {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
} */

.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*модулі*/

.title {
  font-family: "Merriweather", serif;
  color: #fff;
  line-height: 130%;
  font-size: 1.875rem;
}
.title--dark {
  color: #222f33;
}
@media (max-width: 47.9988em) {
  .title {
    font-size: 1.5rem;
  }
}
.text {
  line-height: 185%;
}
.text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.page {
  flex: 1 1 auto;
}

.button {
  width: 250px;
  padding: 10px;
  background-color: #2c2c2c;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #646d70;
}

:root {
  --text-1: #000;
  --Gray-1: #333;
  --Gray-2: #646d70;
  --Gray-4: #bdbdbd;
  --Gray-6: #f2f2f2;
  --white-1: #fff;
  --bg-dark: #2c2c2c;
}
