@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*header*/
.header {
  z-index: 50;
  background: var(--Gray-6, #fafafa);
}
.sticky {
  background-color: rgb(0, 0, 0, 0.6);
}
.header__container {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  min-height: 6.5625rem;
  align-items: center;
  padding: 1.25rem 2.5rem;
}
.header__logo {
  overflow: hidden;
}
.header__logo img {
  width: 8.4375rem;
}
.header__body {
  display: flex;
  column-gap: 2.6875rem;
  align-items: center;
}
.header__button {
  padding: 0.625rem 1.3125rem;
  background-color: #fff;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 2.5rem;
  row-gap: 0.5rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
}
.menu__item {
  color: var(--Gray-1, #333);
  font-family: Roboto, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.menu__item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.menu__link:hover {
  text-decoration: underline;
}
.header__button:hover {
  background-color: #333;
  color: #fff;
}
@media (max-width: 39.0625em) {
  .header__logo {
    flex: 0 0 2.0625rem;
  }
  .header__container {
    min-height: 4.375rem;
  }
  .header__body {
    column-gap: 1.25rem;
  }
  .header__button {
    padding: 0.625rem 0.9375rem;
  }
  .menu__list {
    column-gap: 1.25rem;
    font-size: 0.875rem;
  }
}

/*project*/
.project {
  display: flex;
  flex-direction: row;
  padding: 105px 135px;
  padding-top: 0;
  justify-content: space-between;
  min-width: 770px;
  min-height: 830px;
}
.project__content span {
  color: var(--Gray-1, #333);
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
}
.project__content h1 {
  width: 277.763px;
  color: #bdbdbd;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
}
.project__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
.project__image {
  width: 770px;
  height: 829px;
}
.main-section__content {
  flex: 1 1 54.32%; /* 440/810 */
}
.main-section__label {
  font-size: 1rem;
  font-weight: 500;
  color: #0e0e0e;
}
.main-section__label:not(:last-child) {
  margin-bottom: 0.75rem;
}
.main-section__image {
  width: 500px;
  height: 500px;
}
.main-section__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 43.75rem) {
  .main-section__image img {
    opacity: 0.8;
  }
}

/*about*/
.about {
  background: #fbfbfb;
}
.about__wrapper {
  width: 1441px;
  height: 492px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  padding-top: 75px;
  padding-bottom: 72px;
  padding-left: 188px;
  padding-right: 139px;
  flex-direction: row-reverse;
  align-items: center;
  gap: 87px;
  justify-content: space-between;
  z-index: 2;
}
.about__content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.about__content p {
  width: 400px;
  height: 200px;
  flex-shrink: 0;
  color: #000;
  margin-left: 87px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}
.about__content h1 {
  color: var(--Gray-4, #bdbdbd);
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  margin-bottom: 70px;
  font-weight: 300;
  line-height: 64px; /* 100% */
}
@media (min-width: 47.9988rem) {
  .materials::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 61.7%;
    height: 2.3125rem;
    background-color: #fff;
    transform: translate(0, -100%);
  }
  .materials::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 38.3%;
    height: 8.75rem;
    background-color: #222f33;
  }
}

/* Main-Focus */
.Main-Focus {
  width: 1170px;
  padding-top: 108px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}
.Main-Focus__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.Main-Focus__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Main-Focus__title h2 {
  color: var(--Gray-4, #bdbdbd);
  font-family: Roboto;
  font-size: 64px;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px; /* 100% */
}
.Main-Focus__content p {
  width: 279px;
  margin-left: 30px;
  color: var(--Gray-2, #333);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 163.636% */
}
.Main-Focus__content span {
  display: flex;
  width: 120px;
  height: 140px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--Gray-6, #f2f2f2);
  font-family: Roboto;
  font-size: 200px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

/* Our-Projects */
.Our-Projects__wrapper {
  padding-top: 60px;
  padding-bottom: 102px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Our-Projects h2 {
  color: var(--Gray-4, #bdbdbd);
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  margin-left: 100px;
  font-weight: 300;
  line-height: 64px; /* 100% */
}
.Our-Projects__img {
  width: 570px;
  height: 255px;
  opacity: 0.8;
  background: var(--Gray-1, #333);
}

/*секція footer*/
.footer {
  background: var(--bg-dark, #2c2c2c);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 45px;
  padding-bottom: 100px;
}
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footer__logo {
  justify-self: center;
  margin-right: 100px;
}
.footer__menu--wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.footer__menu--wrapper h2 {
  color: var(--white-1, #fff);
  font-family: Roboto, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.menu-footer__item {
  color: var(--white-1, #fff);
  font-family: Roboto, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.menu-footer__link:hover {
  text-decoration: underline;
}
@media (max-width: 37.5em) {
  .footer__container {
    grid-template-columns: auto;
    justify-content: center;
  }
  .footer__menu {
    justify-self: center;
  }
  .footer__mail {
    justify-self: center;
  }
}
